* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Source Sans 3', sans-serif;
  --primary-color: #f15757;
}


section {
  margin-top: 100px;
}

a {
  text-decoration: none;
  color: black;
}


ul {
  list-style: none;
}

.Link_Text_Active {
  display: block;
  font-size: 1.5rem;
  padding: 10px 0;
  text-transform: capitalize;
  transition: all 0.2s ease;
  color: var(--primary-color);

}

.Link_Text_Unactive {
  display: block;
  font-size: 1.5rem;
  padding: 10px 0;
  color: black;
  text-transform: capitalize;
  transition: all 0.2s ease;
}

.Transparent {
  background-color: transparent;
}

.Opaque {
  background-color: black;

  & .Link_Text_Unactive {
    color: white;
  }
}

.LogoGradient {

  background: -webkit-linear-gradient(0deg, #be22ff 20%, #ff279c 50%, #ff981f 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}